// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

/* User register page */
.register-page {
  img.captcha {
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
  }
  .login-box, .register-box{
    margin: auto;
  }
}
